<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid text-monospace">
<nav th:replace="fragments :: afterNavigation"></nav>
<div style="display:flex;justify-content:center;align-items:center;margin-top:10%;">
    <form method="post">
        <div class="form-group">
            <label>Enter a name for the task
                <input type="text" th:field="${task.name}" class="form-control"/>
            </label>
            <p class="error text-danger" th:errors="${task.name}"></p>
        </div>
        <div class="form-group">
            <label>Enter a description for the task
                <input type="text" th:field="${task.description}" class="form-control"/>
            </label>
            <p class="error text-danger" th:errors="${task.description}"></p>
        </div>
        <div class="form-group">
            <label>Status
                <select th:field="${task.status}">
                    <option th:each="status : ${statuses}"
                            th:value="${status}"
                            th:text="${status.getStatus}">
                    </option>
                </select>
            </label>
        </div>
        <input type="submit" class="btn btn-outline-primary" value="Create Task"/>
    </form>
</div>

</body>
</html>