<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">
<nav th:replace="fragments :: initialNavigation"></nav>
<div style="display:flex;justify-content:center;align-items:center;margin-top:10%;">
    <form method="post">
        <div class="form-group">
            <label th:for="username">Username
                <input class="form-control" th:field="${loginFormDTO.username}"/>
            </label>
            <p class="error text-danger" th:errors="${loginFormDTO.username}"></p>
        </div>
        <div class="form-group">
            <label th:for="password">Password
                <input class="form-control" th:field="${loginFormDTO.password}" type="password"/>
            </label>
            <p class="error text-danger" th:errors="${loginFormDTO.password}"/>
        </div>

        <input type="submit" class="btn btn-primary" value="Log In"/>
    </form>
</div>

</body>
</html>